
.app {
  background-color: #FAF7ED;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2em;
}
.container {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 3px 3px 4px #E5E1D8;
  min-width: 80vw;
  min-height: 70vh;
  color: #767171;
  padding: 1.6em 2em 4em 2em;
}

@media only screen and (min-width: 480px) {

  .container {
    width: 420px;
    min-width: 420px;
    min-height: 500px;
  }

}